<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <Format>cobertura</Format>
          <!-- Only include the main app assembly in coverage -->
          <!-- <Include>[StudentAPI]*</Include> -->
          <!-- Exclude generated or low-value files from coverage -->
          <ExcludeByFile>**/Migrations/*.cs;src/Program.cs</ExcludeByFile>
          <ExcludeByFile>src/Program.cs</ExcludeByFile>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>

